*{
    margin: 0;
    padding: 0;
}
:root{
    font-family: "Open Sans", sans-serif;
    line-height: 150%;
    

}
body{
    background-color: aliceblue;
    background-size: cover;
}

#page {
    box-sizing: border-box;
    width: 800px;
    padding: 24px;
    background-color: aliceblue;
    border-radius: 24px;
    margin: 48px auto 28px;


}
main{
    padding: 24px;
    

}
section + section{

    margin-top: 24px;

}

.content-list {
    list-style: none;
    padding: 0;
    margin: 0;
    counter-reset: section-counter;
}

.content-list > li {
    margin-bottom: 24px;
    counter-increment: section-counter;
}

.content-list > li:last-child {
    margin-bottom: 0;
}

.content-list > li > section > h2::before {
    content: counter(section-counter) ". ";
    font-size: 22px;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

#about p{
    font-style: italic;
    text-align: center;
    font-size: 10px;
}
#destinos p + p{
    margin-top: 12px;
    }
    h1{
        line-height: 140%;
        font-size: 40px;
        margin-bottom: 4px;
    
    }
    h2{
        font-size: 24px;
        }
     
        h3{
            font-weight: bold;
            color:#E1624F;
            font-size: 16px;
        }
      
 /* #destinos p + p {
    margin-top: 11112px;
 } */
    /* h1{
        line-height: 140%;
        font-size: 36px;
        margin-bottom: 4;
    } */
    h2{
        font-size: 22px;
        }
 #destinos p{
            margin-top: 12px;
            font-weight: normal;
            text-align: left;
            font-size: 16px;
        }
#haedong p {
    text-align: left;
}
#haedong ul {
    text-align: left;
    padding-left: 40px;
    margin-top: 0;
}

#beomeo-sa  p {
    text-align: left;
} 
#beomeo-sa ul {
    text-align: left;
    padding-left: 40px;
    margin-top: 0;
}   
        
#yongdusan p {
    text-align: left;
}
#yongdusan ul {
    text-align: left;
    padding-left: 40px;
    margin-top: 0;
}
#yongdusan ul li:nth-child(1) {
    color: #4A90E2;
}
#yongdusan ul li:nth-child(1)::marker {
    color: #000;
}
#yongdusan ul li:nth-child(2) {
    color: #50C878;
}
#yongdusan ul li:nth-child(2)::marker {
    color: #000;
}
#yongdusan ul li:nth-child(3) {
    color: #FF6B6B;
}
#yongdusan ul li:nth-child(3)::marker {
    color: #000;
}
        footer p {
            margin-top: 80px;
            font-size: 16px;
            color:#1E1E1E;
            text-align: center;
            padding-bottom: 48px;
        }
       